<div cond="$XE_VALIDATOR_MESSAGE && $XE_VALIDATOR_ID == 'modules/devcenter/tpl/admin_config/1'"
     class="message {$XE_VALIDATOR_MESSAGE_TYPE}">
    <p>{$XE_VALIDATOR_MESSAGE}</p>
</div>

<div class="x_page-header">
    <h1>{$lang->devcenter}</h1>
</div>

<div class="header4">
    <ul class="x_nav x_nav-tabs">
        <li class="x_active"><a href="{getUrl('act', 'dispDevcenterAdminConfig')}">{$lang->cmd_setup}</a></li>
        <li><a href="{getUrl('act', 'dispDevcenterAdminApps')}">{$lang->cmd_management}</a></li>
    </ul>
</div>

<section class="section">
    <form action="./" method="post" ruleset="adminConfig" class="x_form-horizontal">
        <input type="hidden" name="module" value="editor" />
        <input type="hidden" name="act" value="procDevcenterAdminConfig" />
        <input type="hidden" name="xe_validator_id" value="modules/devcenter/tpl/admin_config/1" />

        <div class="x_control-group">
            <label for="use_rate_limiter" class="x_control-label">{$lang->devcenter_rate_limiter}</label>
            <div class="x_controls">
                <!--@if ($entry->use_rate_limiter)-->
                    <label>
                        <input type="radio" name="use_rate_limiter" value="1" id="use_rate_limiter" checked="checked" />
                        {$lang->use}
                    </label>
                    <label>
                        <input type="radio" name="use_rate_limiter" value="0" />
                        {$lang->notuse}
                    </label>
                <!--@else-->
                    <label>
                        <input type="radio" name="use_rate_limiter" value="1" id="use_rate_limiter" />
                        {$lang->use}
                    </label>
                    <label>
                        <input type="radio" name="use_rate_limiter" value="0" checked="checked" />
                        {$lang->notuse}
                    </label>
                <!--@endif-->
                <p class="x_help-block">{$lang->devcenter_rate_limiter_description}</p>
            </div>
        </div>
        <div class="x_control-group">
            <label for="rate_limit_capacity" class="x_control-label">{$lang->devcenter_rate_limit_capacity}</label>
            <div class="x_controls">
                <input type="number" id="rate_limit_capacity" name="rate_limit_capacity" value="{$entry->rate_limit_capacity}" />
            </div>
        </div>
        <div class="x_control-group">
            <label for="redis_host" class="x_control-label">{$lang->devcenter_redis_host}</label>
            <div class="x_controls">
                <input type="text" id="redis_host" name="redis_host" value="{$entry->redis_host}" />
            </div>
        </div>
        <div class="x_control-group">
            <label for="redis_port" class="x_control-label">{$lang->devcenter_redis_port}</label>
            <div class="x_controls">
                <input type="number" id="redis_port" name="redis_port" value="{$entry->redis_port}" />
            </div>
        </div>
        <div class="x_control-group">
            <label for="use_app_thumbnail" class="x_control-label">{$lang->devcenter_use_app_thumbnail}</label>
            <div class="x_controls">
                <!--@if ($entry->use_app_thumbnail)-->
                <label>
                    <input type="radio" name="use_app_thumbnail" value="1" id="use_app_thumbnail" checked="checked" />
                    {$lang->use}
                </label>
                <label>
                    <input type="radio" name="use_app_thumbnail" value="0" />
                    {$lang->notuse}
                </label>
                <!--@else-->
                <label>
                    <input type="radio" name="use_app_thumbnail" value="1" id="use_app_thumbnail" />
                    {$lang->use}
                </label>
                <label>
                    <input type="radio" name="use_app_thumbnail" value="0" checked="checked" />
                    {$lang->notuse}
                </label>
                <!--@endif-->
                <p class="x_help-block">{$lang->devcenter_use_app_thumbnail_description}</p>
            </div>
        </div>
        <div class="x_control-group">
            <label for="use_app_stop_insert" class="x_control-label">{$lang->devcenter_use_app_stop_insert}</label>
            <div class="x_controls">
                <!--@if ($entry->use_app_insert)-->
                <label>
                    <input type="radio" name="use_app_stop_insert" value="1" id="use_app_stop_insert" checked="checked" />
                    {$lang->use}
                </label>
                <label>
                    <input type="radio" name="use_app_stop_insert" value="0" />
                    {$lang->notuse}
                </label>
                <!--@else-->
                <label>
                    <input type="radio" name="use_app_stop_insert" value="1" id="use_app_stop_insert" />
                    {$lang->use}
                </label>
                <label>
                    <input type="radio" name="use_app_stop_insert" value="0" checked="checked" />
                    {$lang->notuse}
                </label>
                <!--@endif-->
                <p class="x_help-block">{$lang->devcenter_use_app_stop_insert_description}</p>
            </div>
        </div>
        <div class="x_clearfix btnArea">
            <div class="x_pull-right">
                <button type="submit" class="x_btn x_btn-primary">{$lang->cmd_save}</button>
            </div>
        </div>
    </form>
</section>